spring:
  redis:
    host: 127.0.0.1
    port: 6379
#    password: root #기본값
    default-time: 5m #기본적인 캐싱타임
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
      show-sql: true

logging:
  level:
    org:
      springframework: warn